{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="margin-bottom: 7%; margin-top: 7%">
    <h2>Create Category:</h2><br>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_name">Name:</label>
                {% if form.name.value %}
                <input style="width: 50px" type="text" name="name" maxlength="100" value="{{form.name.value}}"
                    class="form-control {% if form.name.errors %}is-invalid{% else%}is-valid{% endif %}" required
                    id="id_name" /> {% else %}
                <input type="text" name="name" maxlength="100"
                    class="form-control {% if form.name.errors %}is-invalid{% endif %}" required id="id_name" />
                {% endif %}
                <div class="invalid-feedback">{{ form.name.errors }}</div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_description">Description:</label>
                {% if form.description.value %}
                <textarea rows="15" name="description" maxlength="2000" value="{{form.description.value}}"
                    class="z-depth-1 form-control {% if form.description.errors %}is-invalid{% else%}is-valid{% endif %}"
                    required id="id_description" placeholder="Write something here..."/> </textarea> {% else %}
                <textarea name="description" maxlength="2000"
                    class="z-depth-1 form-control {% if form.description.errors %}is-invalid{% endif %}" required
                    id="id_description" placeholder="Write something here..."/> </textarea> {% endif %}
                <div class="invalid-feedback">{{ form.description.errors }}</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
{% endblock %}