{% extends "layout.html" %}

{% block content %}

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>CAtegory PAge</h4>
			<div class="site-pagination">
				<a href="{% url 'home' %}">Home</a> /
				<a href="#">Shop</a> /
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
						{% if category.item.all %}
						<h2 class="fw-title">{{ category.name }}</h2><br>
						{% for item in category.item.all %}
							<div class="col-lg-3 col-sm-4">
								<div class="product-item">
									<div class="pi-pic">
										{% if item.on_sale %}
										<div class="tag-sale">ON SALE</div>
										{% endif %}
										<img src="../../media/{{ item.image }}" alt="{{ item.name }}">
									</div>
									<div class="pi-text">
										<p>{{ item.name }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
						{% else %}
						<br>
						<h3 style="text-align: center">No Item Found !!!</h3>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->

{% endblock content %}
