{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			{% for slider in sliders %}
			<div class="hs-item set-bg" data-setbg="media/{{ slider.image }}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							{% if slider.newly_arrival %}
							<span>New Arrivals</span>
							{% endif %}
							<h2>{{ slider.header }}</h2>
							<p>{{ slider.description }}</p>
							{% if slider.my_item %}
							<a href="{% url 'items-list' %}" class="site-btn sb-line">DISCOVER</a>
							{% endif %}
						</div>
					</div>
					<div class="offer-card text-white">
						<p style="font-size: 20px; margin-top: 5px; margin-bottom: 15px"><b>from</b></p>
						<p style="font-size: 50px; margin-bottom: 15px"><b>₹2999</b></p>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			{% endfor %}
			{% comment %}
			<div class="hs-item set-bg" data-setbg="../static/img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>Banarasi Sarees</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<p style="font-size: 20px; margin-top: 5px; margin-bottom: 15px"><b>from</b></p>
						<p style="font-size: 50px; margin-bottom: 15px"><b>₹2999</b></p>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			{% endcomment %}
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<!-- <section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="../static/img/icons/1.png" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="../static/img/icons/2.png" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="../static/img/icons/3.png" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Features section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>LATEST PRODUCTS</h2>
			</div>
			<div class="product-slider owl-carousel">
				{% for item in latest_items %}
					<div class="product-item">
						<div class="pi-pic">
							{% if item.on_sale %}
							<div class="tag-sale">ON SALE</div>
							{% endif %}
							<img src="media/{{ item.image }}" alt="{{ item.name }}">
						</div>
						<div class="pi-text">
							<p>{{ item.name }}</p>
						</div>
					</div>
				{% endfor %}
				<!-- <div class="product-item">
						<div class="pi-pic">
							<img src="../static/img/product/6.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>₹35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div> -->
			</div>
		</div>
	</section>
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>BROWSE TOP SELLING PRODUCTS</h2>
			</div>
			<!-- <ul class="product-filter-menu">
				<li><a href="#">TOPS</a></li>
				<li><a href="#">JUMPSUITS</a></li>
				<li><a href="#">LINGERIE</a></li>
				<li><a href="#">JEANS</a></li>
				<li><a href="#">DRESSES</a></li>
				<li><a href="#">COATS</a></li>
				<li><a href="#">JUMPERS</a></li>
				<li><a href="#">LEGGINGS</a></li>
			</ul> -->
			<div class="row">
				{% for top_item in top_selling %}
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							{% if top_item.on_sale %}
							<div class="tag-sale">ON SALE</div>
							{% endif %}
							<img src="media/{{ top_item.image }}" alt="{{ top_item.name }}">
						</div>
						<div class="pi-text">
							<p>{{ top_item.name }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div style="color: #f51167" class="banner set-bg" data-setbg="{% static 'img/template_photo_1.jpg' %}">
				<div class="tag-new">NEW</div>
				<span>New Arrivals</span>
				<h2 style="color: #f51167">STRIPED SHIRTS</h2>
				<a href="#" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->

{% endblock content %}