{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			{% for slider in sliders %}
			<div class="hs-item set-bg" data-setbg="media/{{ slider.image }}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							{% if slider.newly_arrival %}
							<span>New Arrivals</span>
							{% endif %}
							<h2>{{ slider.header }}</h2>
							<p>{{ slider.description }}</p>
							{% if slider.my_item %}
							<a href="{% url 'items-list' %}" class="site-btn sb-line">DISCOVER</a>
							{% endif %}
						</div>
					</div>
					<div class="offer-card text-white">
						<p style="font-size: 20px; margin-top: 5px; margin-bottom: 15px"><b>from</b></p>
						<p style="font-size: 50px; margin-bottom: 15px"><b>₹2999</b></p>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>LATEST PRODUCTS</h2>
			</div>
			<div class="product-slider owl-carousel">
				{% for item in latest_items %}
					<div class="product-item">
						<div class="pi-pic">
							{% if item.on_sale %}
							<div class="tag-sale">ON SALE</div>
							{% endif %}
							<img src="media/{{ item.image }}" alt="{{ item.name }}">
						</div>
						<div class="pi-text">
							<p>{{ item.name }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>BROWSE TOP SELLING PRODUCTS</h2>
			</div>
			<div class="row">
				{% for top_item in top_selling %}
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							{% if top_item.on_sale %}
							<div class="tag-sale">ON SALE</div>
							{% endif %}
							<img src="media/{{ top_item.image }}" alt="{{ top_item.name }}">
						</div>
						<div class="pi-text">
							<p>{{ top_item.name }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div style="color: #f51167" class="banner set-bg" data-setbg="{% static 'img/template_photo_1.jpg' %}">
				<div class="tag-new">NEW</div>
				<span>New Arrivals</span>
				<h2 style="color: #f51167">STRIPED SHIRTS</h2>
				<a href="#" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->

{% endblock content %}