{% extends "layout.html" %}

{% load staticfiles %}
{% block content %}

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>PRoduct PAge</h4>
        <div class="site-pagination">
            <a href="{% url 'home' %}">Home</a> /
            <a href="#">Shop</a> /
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  order-1 order-lg-2 mb-5 mb-lg-0">
                <h2 class="fw-title">Products</h2><br>
                <div class="row">
                    {% if items %}
                    {% for item in items %}
                    <div class="col-lg-3 col-sm-4">
                        <div class="product-item">
                            <div class="pi-pic">
                                {% if item.on_sale %}
                                <div class="tag-sale">ON SALE</div>
                                {% endif %}
                                <img src="../../media/{{ item.image }}" alt="{{ item.name }}">
                            </div>
                            <div class="pi-text">
                                <p>{{ item.name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <br>
                    <h2 style="text-align: center">No Item Found !!!</h2>
                    {% endif %}
					</div>
				</div>
			</div>
		</div>
	
		{% if items.has_other_pages %}
	
			<ul class="pagination pagination-lg" style="justify-content: center;">
	
			{% if items.has_previous %}
			
				<li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a></li>
	
			{% else %}
	
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	
			{% endif %}

			{% for i in items.paginator.page_range %}
			
				{% if items.number == i %}
		
					<li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
		
				{% else %}
		
					<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		
				{% endif %}
			
			{% endfor %}
			
			{% if items.has_next %}
	
				<li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
	
			{% else %}
	
				<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>

			{% endif %}
		</ul>
		{% endif %}
	</section>
	<!-- Category section end -->

{% endblock %}